

    <div class="p-container container opacity-80">
        <div class="p-grid p-dir-col p-nogutter p-align-center">
            <div class="p-col-12 p-md-8 p-lg-4 p-mb-4">
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <h2>Política de Devolución</h2>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="card-content">
                            <p>Nuestra política de devolución es...</p>
                        </div>
                    </ng-template>
                </p-card>
            </div>
            <div class="p-col-12 p-md-8 p-lg-4 p-mb-4">
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <h2>Política de la Empresa</h2>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="card-content">
                            <p>En nuestra empresa, nos comprometemos a...</p>
                        </div>
                    </ng-template>
                </p-card>
            </div>
            <div class="p-col-12 p-md-8 p-lg-4 p-mb-4">
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="card-header">
                            <h2>Política de Información</h2>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content">
                        <div class="card-content">
                            <p>Valoramos tu privacidad y nos comprometemos a proteger tus datos personales...</p>
                        </div>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
