
    <div class="card contact-form border-round-2xl bg-white text-black-alpha-80 shadow-8 opacity-90">
      <div>
        <img src="https://jfnnstorage.sfo3.cdn.digitaloceanspaces.com/Banners/logoJfnn.jpg" alt="" class="w-28rem h-8rem">
      </div>
      <h2>Contáctanos</h2>
      <div class="p-fluid">
        <div class="field">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" pInputText [(ngModel)]="nombre" />
        </div>
        <div class="field">
          <label for="rut">Rut</label>
          <input id="rut" type="text" pInputText [(ngModel)]="rut" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input id="email" type="text" pInputText [(ngModel)]="email" />
        </div>
        <div class="field">
          <label for="telefono">Teléfono</label>
          <input id="telefono" type="text" pInputText [(ngModel)]="telefono" />
        </div>
        <div class="field">
          <label for="mensaje">Escribe un mensaje</label>
          <textarea id="mensaje" pInputText [(ngModel)]="mensaje" placeholder="Escribe un mensaje"></textarea>
        </div>
        <button pButton pRipple type="button" label="Enviar" (click)="contacto()"></button>
      </div>
    </div>

