
<shared-toolbar>
</shared-toolbar>

<shared-carousel
[items]="carouselData"
id="index"
class="background-container-carousel w-screen h-screen bg-black-alpha-20">
</shared-carousel>


<dashboard-cotizacion
id="cotizacion"
class="background-container-cotizacion w-screen h-screen">
</dashboard-cotizacion>


<dashboard-marcas
id="marcas"
class="background-container-carousel">
</dashboard-marcas>



<dashboard-about-us
id="about-us"
class="w-screen h-screen bg-black-alpha-40">
</dashboard-about-us>


<div class="w-screen h-screen bg-black-alpha-20">
<!-- TODO: aqui va el sucursal -->
</div>


<dashboard-contacto
id="contacto"
class="background-container-contacto"
>
</dashboard-contacto>


<div class="relative  h-screen bg-black-alpha-20">
<!-- TODO: aqui va el politicas -->
</div>

<shared-footer>
</shared-footer>









