

<div id="index" class="background-container-carousel w-screen h-screen bg-black-alpha-20">
  <shared-toolbar class=""></shared-toolbar>
  <shared-carousel [items]="carouselData"></shared-carousel>
</div>

<div id="cotizacion" class="background-container-cotizacion w-screen h-screen bg-black-alpha-40">
<dashboard-cotizacion></dashboard-cotizacion>
</div>

<div class="w-screen h-screen bg-black-alpha-20">
<!-- TODO: aqui va el marcas -->

</div>
<div id="about-us" class="w-screen h-screen bg-black-alpha-40">
<dashboard-about-us></dashboard-about-us>
</div>
<div class="w-screen h-screen bg-black-alpha-20">
<!-- TODO: aqui va el sucursal -->

</div>

<div id="contacto" class="w-screen h-screen bg-black-alpha-40">
<dashboard-contacto></dashboard-contacto>
</div>

<div class="w-screen h-screen bg-black-alpha-20">
<!-- TODO: aqui va el politicas -->

</div>









