
<shared-toolbar>
</shared-toolbar>

<shared-carousel
[items]="carouselData"
id="index"
class="background-container-carousel">
</shared-carousel>


<dashboard-cotizacion
id="cotizacion"
class="background-container-cotizacion ">
</dashboard-cotizacion>


<dashboard-marcas
id="marcas"
class="background-container-marcas">
</dashboard-marcas>



<dashboard-about-us
id="about-us"
class="background-container-about-us">
</dashboard-about-us>


<dashboard-sucursales
id="sucursal"
class="background-container-sucursales">

</dashboard-sucursales>


<dashboard-contacto
id="contacto"
class="background-container-contacto"
>
</dashboard-contacto>


<dashboard-politicas
id="politicas"
class="background-container-carousel">

</dashboard-politicas>

<shared-footer
id="footer"
>
</shared-footer>









