
    <div class="registro-container">
    <div class="card">
      <div>
        <img src="assets/images/banner/imagen1.jpg" alt="" class="w-full h-10rem">
      </div>
      <h2>Cotiza con nosotros</h2>

      <div class="p-fluid">
        <div class="field">
          <label for="nombre">Nombre</label>
          <input id="nombre" type="text" pInputText [(ngModel)]="nombre" />
        </div>
        <div class="field">
          <label for="apellido">Apellido</label>
          <input id="apellido" type="text" pInputText [(ngModel)]="apellido" />
        </div>
        <div class="field">
          <label for="username">Username</label>
          <input id="username" type="text" pInputText [(ngModel)]="username" />
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input id="email" type="text" pInputText [(ngModel)]="email" />
        </div>
        <div class="field">
          <label for="telefono">Teléfono</label>
          <input id="telefono" type="text" pInputText [(ngModel)]="telefono" />
        </div>
        <button pButton pRipple type="button" label="Enviar" (click)="contacto()"></button>
              <button pButton pRipple type="button" label="Volver" (click)="volver()" class="bg-black-alpha-70 mt-3"></button>
      </div>
      </div>


