<div class="flex-column text-center opacity-90">

    <h1>Sucursales</h1>
  <div class="sucursales flex">
  <div class="melipilla">
    <section class="p-d-flex p-jc-center">
        <p-card header="Sucursal Melipilla" subheader="Serrano 98, Melipilla, Región Metropolitana" class="p-d-flex p-ai-center p-mr-2 p-mb-2">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1660.0299176514195!2d-71.2139341!3d-33.6815148!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662552a18cb824f%3A0xc7a73d693659f595!2sRepuestos%20Automotrices%20JFNN!5e0!3m2!1ses-419!2scl!4v1722440326840!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <div class="info p-d-flex p-flex-column">
                <p>
                    Horario mañana: 09:00 - 14:00
                    <br/>
                    Horario tarde: 15:00 - 18:00
                </p>
            </div>
        </p-card>
    </section>
  </div>
  </div>
</div>
