

<div class="flex-column opacity-80">
    <!-- <header id="main-header">
        <h1>JFNN Venta de Repuestos</h1>
    </header> -->

    <div class="container">
        <section class="border-round-2xl" id="about-section">
            <h2>Sobre Nosotros</h2>
            <p>JFNN Venta de Repuestos es una empresa dedicada a la venta de repuestos de vehículos de alta calidad. Con más de 10 años en el mercado, nos hemos comprometido a ofrecer a nuestros clientes productos confiables y un servicio excepcional.</p>
            <p>Nuestra misión es proporcionar soluciones eficientes para el mantenimiento y reparación de vehículos, asegurando que cada uno de nuestros clientes encuentre exactamente lo que necesita para mantener su vehículo en perfectas condiciones.</p>
            <p>Nos enorgullece contar con un equipo de profesionales altamente capacitados y apasionados por la industria automotriz, quienes están siempre dispuestos a brindar la mejor asesoría y soporte técnico.</p>
        </section>


    </div>
</div>
